{% extends 'base.html' %}

{% block header %}{% block title %}My journal{% endblock %}{% endblock %}

{% block main %}
<aside class="flex-container">
  <aside class="pam w33 aside">
    <div id="v-cal">
      <div class="vcal-header">
        <button class="vcal-btn" data-calendar-toggle="previous">
          <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
          </svg>
        </button>

        <div class="vcal-header__label" data-calendar-label="month">
          March 2017
        </div>

        <button class="vcal-btn" data-calendar-toggle="next">
          <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
          </svg>
        </button>
      </div>

      <div class="vcal-week">
        <span>Mon</span> <span>Tue</span><span>Wed</span> <span>Thu</span> <span>Fri</span> <span>Sat</span> <span>Sun</span>
      </div>
      <div class="vcal-body" data-calendar-area="month"></div>
    </div>
    <script src="{{ url_for('static', filename='js/vanillaCalendar.js') }}" type="text/javascript"></script>
    <script>
    window.addEventListener('load', function () {
      vanillaCalendar.init({
        disablePastDays: false
      });
    })
    </script>
  </aside>
  <div class="w66 pal" id="entries-list"><ul class="list"></ul></div>
  <script src="{{ url_for('static', filename='js/nanoajax.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/list.min.js') }}" type="text/javascript"></script>
  <script>
    var options = {
      valueNames: [ 'date', 'body', 'time', 'starred', 'title' ],
      item: `<li><h3><span class="date"></span> at <span class="time"></span>:
             <span class="title"></span></h3><p class="body"></p></li>`
    };
    var entriesList = new List('entries-list', options);

    nanoajax.ajax({url: '/api/entries', method: 'GET'}, function (code, responseText, request) {
      if (code == 200) {
        entriesList.clear();
        entriesList.add(JSON.parse(responseText).entries);
      }
    })
  </script>
</div>
{% endblock %}
